.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right: 15%;

	@media screen and (max-width: 800px){
		margin-right: 10%;
	}
	@media screen and (max-width: 700px){
		margin: 0 auto;
		margin-bottom: 40px;
	}

	p{
		font-size: 1.2em;
	}
	
	@media screen and (max-width: 1400px){
		h2 {
			font-size: 1.3em;
		}
		p{
			font-size: 1em;
		}
	}

	@media screen and (max-width: 500px){
		p{
			font-size: 0.9em;
		}
	}
	
	

}

.imgWrapper {
	img {
		width: 300px;
		height: auto;
		@media screen and (max-width: 1400px){
			width: 250px;
		}
		@media screen and (max-width: 800px){
			width: 200px;
		}
		@media screen and (max-width: 450px){
			width: 175px;
		}
	}
}
