.container {
	position: relative;
	z-index: 1;
	height: 250px;
	background-color: var(--fourth-background-color);
	h3{
		padding-top: 20px;
		text-align: center;
		color: white;
	}
}

.flex {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	
	span {
		float: right;
		cursor: pointer;
		display: inline-block;
		transition: all 0.6s ease;
		background-color: var(--color-2);
		padding: 10px;
		margin: 18px;
		border-radius: 50px;
		box-shadow: 1px 1px 15px var(--color-1);
		img {
			vertical-align: middle;
			display: inline-block;
			margin: 0 auto;
		}
	}
	span:hover {
		box-shadow: 1px 1px 15px var(--color-2);
		background-color: var(--color-1);
	}
}


