.app {
  overflow-x: hidden;
}

.particles {
  position: fixed;
  background-color: var(--background-color);	
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  max-width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}	
