@font-face { font-family: ocrA; src: url('OCR A Std Regular.ttf'); } 

html {
	--main-font: 'Montserrat', sans-serif;
  --header-font: 'ocrA', sans-serif;
  --background-color: #1b1b1b;
  --secondary-background-color: #202020;
  --third-background-color: #282828;
  --fourth-background-color: #2b2b2b;
  --color-1: #00ff00;
  --color-2: #ff00ff;
  --gradient: linear-gradient(to right, #00ff00 0%,#28ffde 50%,#ff00ff 100%);
  overflow-x: hidden;
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--main-font)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.react-slideshow-container .nav {
  height: 60px;
  max-height: 60px;
  background: rgba(255,255,255, 0.5) !important;
  border-radius: 0px !important;
  width: 60px !important;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  color: #000;
  position: absolute;
}
.react-slideshow-container .nav:first-of-type {
  bottom: 0;
}
.react-slideshow-container .nav:last-of-type {
  bottom: 0;
  right: 0;
}