.nav {
	font-family: var(--header-font);
	top: -60px;
	background-color: var(--secondary-background-color);
	height: 60px;
	transition: top 1s;
	display: flex;
	align-items: center;
	z-index: 20;
	@media screen and (max-width: 500px){
		justify-content: center;
	}
	border-bottom: 3px solid var(--color-1);
}

.smallMenu {
	font-family: var(--header-font);
	top: -60px;
	background-color: var(--secondary-background-color);
	height: 60px;
	transition: top 1s;
	z-index: 20;
	border-bottom: 3px solid var(--color-1);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 9;
	height: auto;
	overflow: hidden;
}


.navItems{
	text-decoration: none;
	 @media screen and (max-width: 500px){
  	padding-left: 0px;
  }

  @media screen and (max-width: 300px){
  	font-size: 0.8em;
  }
}

.navItem{
	margin-left: 2.5em;
	display: inline;
	color: white;
	font-size: 1.4em;
	vertical-align: middle;

  @media screen and (max-width: 500px){
  	font-size: 1em;
  	margin-left: 1em;
  }

  @media screen and (max-width: 300px){
  	font-size: 0.8em;
  }
}

.navItem:hover{
	cursor: pointer;
	color: var(--color-2);
	text-shadow: 1px 1px 15px var(--color-1);
}

.active {
	color: var(--color-1);
	text-shadow: 1px 1px 15px var(--color-2);
}

.menuImg {
	width: 48px;
	margin-top: 6px;
	padding-right: 10px;
	cursor: pointer;
}

.hiddenMenu {
	width: 100%;
	height: auto;
	text-decoration: none;
	background-color: var(--secondary-background-color);
	z-index: 5;
	transition: all 0.5s;
	ul {
		margin: 0px 0px;
	}
}

.hiddenItem{
	list-style: none;
	font-size: 1.5em;
	color: white;
	padding: 10px 0px;
	cursor: pointer;
}

.wrapper {
	text-align: right;
	width: 100%;
	height: 100%;
	margin-bottom: -2px;
	border-bottom: 3px solid var(--color-1);
}